.friends__header {
  display: flex;
  flex-direction: column;
}
.friends__channel {
  margin: 10px 0px;
  padding: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.friends__list {
  padding: 10px;
}
