.nav-bar {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}
.nav-bar__list {
  display: flex;
  justify-content: space-between;
}
.nav-bar__icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__icon a {
  text-decoration: none;
  color: black;
}
